@use "sass:math";
@use "sass:color";
@use "variables";
@use "mixins";

h2 {
  @include mixins.rounded;
  padding: 5px + variables.$radius;
  background-color: variables.$theme-color;
  width: math.div(360, 780) * 100%;
}
